<div class="banner" style="display: flex;margin-top: 20px;">
    <div class="banner" style="width: 60%;">
        <div class="ad">
            <img src="images/Banner/giam-gia-playstation-gift-card-1558725518.jpg">
        </div>
    </div>
    <div class="new" style="float: right; width: 39%; background-color: white;">
        <div class="1-new" style="width: 100%; height: 70px; display: flex;">
            <div style="margin-left: 20px;">
                <a href="#" style="color: black; text-decoration: none;">Bất ngờ xuất hiện trailer gameplay dành cho
                    game đồ họa siêu thực
                    tên Unrecord</a>
            </div>
            <div>
                <img src="images/Banner/1-new.jpg" style="float: right;width: 200px; height: 100%;">
            </div>
        </div>
        <hr>
        <div class="1-new" style="width: 100%; height: 70px; display: flex;">
            <div style="margin-left: 20px;">
                <a href="#" style="color: black; text-decoration: none;">
                    Studio FnTastic công bố bản beta dành cho The Day Before trên Steam</a>
            </div>
            <div>
                <img src="images/Banner/2-new.jpg" style="float: right;width: 170px; height: 100%;">
            </div>
        </div>
        <hr>
        <div class="1-new" style="width: 100%; height: 70px; display: flex;">
            <div style="margin-left: 20px;">
                <a href="#" style="color: black; text-decoration: none;">The Sims 4 nay đã có hơn 70 triệu người
                    chơi</a>
            </div>
            <div>
                <img src="images/Banner/3-new.jpg" style="float: right;width: 125px; height: 100%; margin-left: 50px;">
            </div>
        </div>
        <hr>
    </div>
</div>

<div class="product" style="margin-top: 10px; background-color: white;">
    <div class="hot-product">
        <div class="title" style="padding: 10px;">
            <h2>Sản phẩm nổi bật</h2>
            <hr style="margin: 1px;">
        </div>
        <div id="carouselExampleAutoplaying" class="carousel" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card">
                        <div class="img-wrapper">
                            <img src="images/g-Product/d-game1.webp" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Đĩa Game PS4 Pes 2020</h5>
                            <strong class="card-text" style="color: red;">480,000đ</strong>
                            <ul>
                                <li>Đã bán 765 sản phẩm</li>
                            </ul>
                            <a href="#!detail/{{item.id}}" class="btn btn-primary">Xem chi tiết</a>
                            <a href="#" class="btn btn-primary" style="float: right;">Thêm vào giỏ</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper">
                            <img src="images/g-Product/m-game1.webp" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Máy Nintendo Switch Oled Mới - White set</h5>
                            <strong class="card-text" style="color: red;">6,800,000đ</strong>
                            <ul>
                                <li>Phiên bản New Oled 2024</li>
                                <li>Đã bán 5738 sản phẩm</li>
                            </ul>
                            <a href="#!detail/{{item.id}}" class="btn btn-primary">Xem chi tiết</a>
                            <a href="#" class="btn btn-primary" style="float: right;">Thêm vào giỏ</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper">
                            <img src="images/g-Product/m-game2.webp" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Máy PS4 Pro Hack 1TB - Chơi Game Miễn Phí</h5>
                            <strong class="card-text" style="color: red;">7,180,000₫</strong>
                            <ul>
                                <li>Chơi miễn phí tất cả game PS4</li>
                                <li>Đã bán 253 sản phẩm</li>
                            </ul>
                            <a href="#!detail/{{item.id}}" class="btn btn-primary">Xem chi tiết</a>
                            <a href="#" class="btn btn-primary" style="float: right;">Thêm vào giỏ</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper">
                            <img src="images/g-Product/m-game3.webp" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Máy PS5 Slim - Tặng 2 Game</h5>
                            <strong class="card-text" style="color: red;">11,980,000₫</strong>
                            <ul>
                                <li>Đã bán 215 sản phẩm</li>
                            </ul>
                            <a href="#!detail/{{item.id}}" class="btn btn-primary">Xem chi tiết</a>
                            <a href="#" class="btn btn-primary" style="float: right;">Thêm vào giỏ</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper">
                            <img src="images/g-Product/m-game4.webp" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Máy Xbox - Series S</h5>
                            <strong class="card-text" style="color: red;">6,280,000đ</strong>
                            <ul>
                                <li>Đã bán 4627 sản phẩm</li>
                            </ul>
                            <a href="#!detail/{{item.id}}" class="btn btn-primary">Xem chi tiết</a>
                            <a href="#" class="btn btn-primary" style="float: right;">Thêm vào giỏ</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper">
                            <img src="images/ac-product/pk-game1.webp" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Tay Cầm Xbox Series - 2ND</h5>
                            <strong class="card-text" style="color: red;">880,000đ</strong>
                            <ul>
                                <li>Đã bán 378 sản phẩm</li>
                            </ul>
                            <a href="#!detail/{{item.id}}" class="btn btn-primary">Xem chi tiết</a>
                            <a href="#" class="btn btn-primary" style="float: right;">Thêm vào giỏ</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper">
                            <img src="images/g-Product/c-game1.webp" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Thẻ iTunes 50$ (US)</h5>
                            <strong class="card-text" style="color: red;">1,300,000đ</strong>
                            <ul>
                                <li>Iphone|Ipad|Mac</li>
                                <li>Thẻ nạp iTunes & App Store US</li>
                            </ul>
                            <a href="#!detail/{{item.id}}" class="btn btn-primary">Xem chi tiết</a>
                            <a href="#" class="btn btn-primary" style="float: right;">Thêm vào giỏ</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper">
                            <img src="images/g-Product/c-game2.webp" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Roblox 10$ (800 Robux)</h5>
                            <strong class="card-text" style="color: red;">280,000đ</strong>
                            <ul>
                                <li>PC|iOS|Android</li>
                                <li>Thẻ nạp chơi game Roblox</li>
                            </ul>
                            <a href="#!detail/{{item.id}}" class="btn btn-primary">Xem chi tiết</a>
                            <a href="#" class="btn btn-primary" style="float: right;">Thêm vào giỏ</a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<div class="game-console" style="background-color: white; margin-top: 20px;">
    <div class="title">
        <h2 style="padding: 10px;">Máy Game
            <a href="#!list" style="float: right; font-size: 20px; padding: 10px;">Xem tất cả</a>
        </h2>
        <hr>
    </div>
    <div class="c-product" style="display: flex; padding-bottom: 20px;">
        <div class="card" style="width: 330px; height: 450px;" ng-repeat="item in dsSP[0].console | limitTo:4:1">
            <div class="img-wrapper">
                <img src="{{item.image}}" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">{{item.price | currency:'đ':0}}</p>
                <a href="#!detail/{{item.id}}" class="btn btn-primary">Xem chi tiết</a>
                <a href="" class="btn btn-primary">Thêm vào giỏ</a>
            </div>
        </div>
    </div>
</div>
<div class="game-card" style="background-color: white; margin-top: 20px;">
    <div class="title">
        <h2 style="padding: 10px;">Thẻ Game
            <a href="#" style="float: right; font-size: 20px; padding: 10px;">Xem tất cả</a>
        </h2>
        <hr>
    </div>
    <div class="card-product" style="display: flex; padding-bottom: 20px;">
        <div class="card" style="width: 330px; height: 450px;" ng-repeat="item in dsSP[1].card">
            <div class="img-wrapper">
                <img src="{{item.image}}" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">{{item.price | currency:'đ':0}}</p>
                <a href="#!detail/{{item.id}}" class="btn btn-primary">Xem chi tiết</a>
                <a href="" class="btn btn-primary">Thêm vào giỏ</a>
            </div>
        </div>
    </div>
</div>
<div class="game-accessory" style="background-color: white; margin-top: 20px;">
    <div class="title">
        <h2 style="padding: 10px;">Phụ kiện Game
            <a href="#" style="float: right; font-size: 20px; padding: 10px;">Xem tất cả</a>
        </h2>
        <hr>
    </div>
    <div class="c-product" style="display: flex; padding-bottom: 20px;">
        <div class="card" style="width: 330px; height: 450px;" ng-repeat="item in dsSP[2].accessory">
            <div class="img-wrapper">
                <img src="{{item.image}}" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">{{item.price | currency:'đ':0}}</p>
                <a href="#!detail/{{item.id}}" class="btn btn-primary">Xem chi tiết</a>
                <a href="" class="btn btn-primary">Thêm vào giỏ</a>
            </div>
        </div>
    </div>
</div>